In [1]:
Pi = 3.14159      # Valid Python
pi = 3.14159      # Valid Python
3pi = 3.14159*3   # UnValid Python
pi_2 = 3.14159**2 # Valid Python
pi^2 = 3.14159**2 # UnValid Python
my radius = 5     # UnValid Python
My_Radius = 5     # Valid Python
class = 5         # UnValid Python

SyntaxError: invalid syntax (544414526.py, line 3)

In [2]:
x = '2'
y = z = 2

print(y * z)    # 4
print(x * y)    # 22
print(x + x)    # 22
print((y+z)**z) # 16
print(y/(y+z))  # 0.5

print( type(x * y) )    # ??
print( type(y * z) )    # ??
print( type((y+z)**z) ) # ??
print( type(y/(y+z)) )  # ??

4
22
22
16
0.5
<class 'str'>
<class 'int'>
<class 'int'>
<class 'float'>

In [5]:
x = 12
y = 10

z = x + y # ??
x = x + y # ??
y = z + y # ??

print(x)
print(y)
print(z)

22
32
22

In [6]:
x = 1 + (2 * 3) / 4
y = (1 + 2) * (3 / 4)
z = 1 + 2 * (3 / 4)

print(x) # x is 
print(y) # y is 
print(z) # z is

2.5
2.25
2.5

In [7]:
x = 10
y = 3
print(x % y)
print(x + y)
print(x < y)
print(x ** y)
print(x - y)
print(y)

1
13
False
1000
7
3

In [8]:
from math import pi
v = 14137
r = (3 * v / (4 * pi))**(1/3)
print(int(r))
print(round(r))

14
15

In [9]:
from math import pi
v = 4188.790204786391
print(f"{v:0.3f} cm3")

4188.790 cm3

In [10]:
hours = 2

if hours == 10 or hours > 10:
    print("At least 10 hours worked!")
elif hours == 2:
    print("Exactly 2 hours worked.")
else:
    print("Less than 10 hours worked!")

Exactly 2 hours worked.

In [11]:
x = 4
if x > 0 and x < 5:
    print("Joe")
if x > 0 or x < 5:
    print("Aled")
if not(x > 0):
    print("Sarah")

Joe
Aled

In [12]:
for x in range(0,9):
    if x%2 == 0:
        print("X IS EVEN")
    else:
        print("X IS odd")

X IS EVEN
X IS odd
X IS EVEN
X IS odd
X IS EVEN
X IS odd
X IS EVEN
X IS odd
X IS EVEN

In [13]:
x = 5
y = 4

if x != y:                                 #line 1
    print("x is not equal to y")
    
    if(x > y):                             #line 4
        print("x is greater than y")
    
    else:                                  #line 7
        print("x is less than y")

else:
    print("<insert conclusion here>")

x is not equal to y
x is greater than y

In [14]:
cities = ['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']

# Print out London from cities:
print(cities[1])

# Print out Tokyo using *negative* indexing:
print(cities[-2])

# Print out Beijing *and* Tokyo using a list slice
print(cities[2:4])

# Print out London to Delhi using a slice
print(cities[1:])

# Combine positive and negative indexing to print out London, Beijing and Tokyo using a list slice
print(cities[1:4])

# Print out the position of New York in the list by searching for it
print(cities.index('New York'))

London
Tokyo
['Beijing', 'Tokyo']
['London', 'Beijing', 'Tokyo', 'Delhi']
['London', 'Beijing', 'Tokyo']
0

In [15]:
cities = ['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']
print(cities[10])

IndexError: list index out of range

In [16]:
cities = ['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']
try:
    cities.index('Toronto')
except ValueError as e:
    print(e)

'Toronto' is not in list

In [17]:
cities = ['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']
cities.sort(reverse=True)
print(cities)

['Tokyo', 'New York', 'London', 'Delhi', 'Beijing']

In [1]:
# Just in case you make a mistake...
cities = ['Tokyo', 'New York', 'London', 'Delhi', 'Beijing']

cities.insert(2,"Toronto")
print(cities)

['Tokyo', 'New York', 'Toronto', 'London', 'Delhi', 'Beijing']

In [2]:
p = cities.pop(cities.index('New York'))
print(p)
print(cities)

New York
['Tokyo', 'Toronto', 'London', 'Delhi', 'Beijing']

In [3]:
cities = ['Tokyo', 'New York', 'London', 'Delhi', 'Beijing']
cities.insert(2,"Toronto")

if "Moscow" in cities:
    print("莫斯科在列表中。")
else:
    print("莫斯科不在列表中。")

莫斯科不在列表中。